h1 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2vmin;
    font-size: var(--main-title-font-size);
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    grid-gap: 1vmin;
    margin: 2vmin 0;
}